.my-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.my-card a{
    text-align: center;
    font-size: 30px;
    text-decoration: none;
   

}

@media only screen and (max-width: 576px) {
    .my-card{
        display: grid;
        grid-template-columns:1fr;
    }
   
}